APP_NAME=insider-one-case
APP_ENV=development
HTTP_PORT=8080
LOG_LEVEL=debug

CLICKHOUSE_ADDR=localhost:9000
CLICKHOUSE_DATABASE=analytics
CLICKHOUSE_USERNAME=default
CLICKHOUSE_PASSWORD=

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

ALLOW_START_WITHOUT_INFRA=true
WORKER_BATCH_SIZE=250
WORKER_FLUSH_INTERVAL_MS=250
INGEST_QUEUE_BUFFER_SIZE=5000
INGEST_ENQUEUE_TIMEOUT_MS=25
